@media screen and (max-width: 414px) {
  body {
    margin:  0;
  }
}
@media screen and (min-width: 414px) {
  body {
    margin:  0 10vw 0 10vw;
  }
}

* {
  font-family: sans-serif;
  letter-spacing: 0.02em;
  color: white;
}

body {
  font-size: 1rem;
  background-color: black;
}

h1 { 
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

hr { border: 0;
  border-bottom: 1px solid white;
  margin: 20px 0 20px 0;
  padding: 0;
}

img {
  max-width:  80vw;
  display:  block;
  margin: 0 auto 0 auto;
}

pre {
  background-color:  #1e1e1e;
  padding:  1rem;
  white-space: pre-wrap;
  word-break: keep-all;
  word-wrap: break-word;
  font-family: monospace;
}

code {
  background-color:  #1e1e1e;
  font-family: monospace;
  font-size:  0.9rem;
}