@media screen and (max-width: 414px) {
  body {
    margin:  0;
  }
}
@media screen and (min-width: 414px) {
  body {
    margin:  0 10vw 0 10vw;
  }
}

* {
  font-size: 1.1rem;
  font-family: sans-serif;
  letter-spacing: 0.02em;
  color: white;
}

body {
  background-color: black;
}

h1 { margin: 0;
  padding: 0;
}

hr { border: 0;
  border-bottom: 1px solid white;
  margin: 20px 0 20px 0;
  padding: 0;
}

img {
  max-width:  80vw;
  display:  block;
  margin: 0 auto 0 auto;
}

pre {
  background-color:  #1e1e1e;
  padding:  1rem;
}

code {
  background-color:  #1e1e1e;
  font-family: monospace;
  font-size:  0.9rem;
}